.dashboard__chart--activity {
  aspect-ratio: 167/64;

  h2 {
    position: absolute;
    color: var(--graph-black);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .recharts-default-legend {
    display: flex;
    gap: 2rem;
    justify-content: end;
  }

  .recharts-legend-item {
    display: flex !important;
    align-items: center;
    margin: 0 !important;

    .recharts-surface {
      margin: 0 !important;
    }

    &-text {
      color: var(--graph-grey) !important;
      font-weight: 500;
      line-height: 1.5rem;
      margin-left: 0.75rem;
    }
  }
}

.activity {
  &__tooltip {
    background-color: #e60000;
    color: white;
    padding: 0.25rem 0.4375rem;
    font-size: 0.6875rem;
    line-height: 1.5rem;
  }
}
