@import "../../../mixins.scss";

.dashboard__chart--activity {
  grid-column: span 1;
  padding: 1.5rem 2rem;

  @include from(lg) {
    grid-column: span 3;
    padding: 1.5rem 2rem;
    min-height: 20rem;
  }

  h2 {
    position: absolute;
    color: var(--graph-black);
    font-size: 0.9375rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  .recharts-default-legend {
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem !important;

    @include from(lg) {
      flex-direction: row;
      gap: 2rem;
      justify-content: end;
      padding-top: 0 !important;
    }
  }

  .recharts-legend-item {
    display: flex !important;
    align-items: center;
    margin: 0 !important;

    .recharts-surface {
      margin: 0 !important;
    }

    &-text {
      color: var(--graph-grey) !important;
      font-weight: 500;
      line-height: 1.5rem;
      margin-left: 0.75rem;
    }
  }
}

.activity {
  &__tooltip {
    background-color: #e60000;
    color: white;
    padding: 0.25rem 0.4375rem;
    font-size: 0.6875rem;
    line-height: 1.5rem;
  }
}
