@import "../../mixins.scss";

.profile {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.875rem;
  height: calc(100% - 5.375rem);
  margin-left: 7.25rem;
  padding: 4.25rem 1.875rem;

  @include from(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @include from(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @include from(2xl) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 4.25rem 5.625rem 5.375rem 6.6875rem;
  }

  &__intro {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-bottom: 1rem;

    @include from(md) {
      grid-column: span 2;
    }

    @include from(lg) {
      grid-column: span 3;
    }

    @include from(2xl) {
      grid-column: span 4;
      margin-bottom: 2.125rem;
    }

    h1 {
      font-size: 3rem;
      font-weight: 500;
      line-height: 1.5rem;

      .intro__name {
        color: var(--red);
      }
    }
  }

  &__dashboard {
    grid-column: span 1;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1.875rem;

    @include from(md) {
      grid-column: span 2;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include from(lg) {
      grid-column: span 3;
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}

.dashboard__chart {
  background-color: var(--lightgrey);
  border-radius: 0.3125rem;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  min-height: 16.25rem;

  &:not(:first-child) {
    @include from(md) {
      aspect-ratio: 1;
    }
  }
}

.loading {
  background-color: var(--graph-black) !important;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {
    0%,
    100% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.1;
    }
  }
}
