.dashboard__chart--perf {
  background-color: var(--graph-black-2);
  aspect-ratio: 1;
}

.recharts-polar-grid-angle line {
  stroke: none;
}

.recharts-polar-angle-axis-tick-value tspan {
  fill: white;
  font-size: 0.75rem;
}
